<div role="dialog" layout="column" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2><span>Your Group Id</span></h2>
        </div>
    </md-toolbar>
    <div layout="column" layout-padding>
        Your Group Id:
        <md-input-container>
            <input readonly value="{{id}}">
        </md-input-container>
    </div>
    <div layout="row" class="demo-dialog-button">
        <md-button md-autofocus flex class="md-primary" ng-click="closeDialog()">
            Close
        </md-button>
    </div>
</div>